<p>
    <mat-toolbar>
        <button class="menu-button" 
        [matMenuTriggerFor]="menu"
        mat-mini-fab aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title-text">Feed</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon class="filter-icon">filter_alt</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Settings</button>
        </mat-menu>
    </mat-toolbar>
</p>
  