.buttons-wrapper {
  display: flex;
  gap: 30px;
  .buttons-start {
    flex: 1;
    max-width: 80%;
  }
}

.preview-wrapper {
  position: relative;
  border: 1px solid purple;
  padding: 8px;
  max-width: calc(100% - 16px);
}

.preview-canvas {
  display: block;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - 120px);
  margin: 0 auto;
}

.preview-boundary {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  polygon {
    fill: lightblue;
    fill-opacity: 0.4;
    stroke: blue;
    stroke-width: 1;
  }
}

.circle {
  transform: translate3d(0, 0, 0) !important;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin-left: -8px;
  margin-top: -8px;
  border-radius: 50%;
  background-color: blue;
  font-family: sans-serif;
  font-weight: bold;
  &::after {
    content: "";
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
    border-radius: 50%;
    background: #fff;
    opacity: 0;
  }
}

.proxy {
  position: absolute;
  opacity: 0;
  background: yellow;
  transform: translate3d(0, 0, 0) !important;
  margin-left: -8px;
  margin-top: -8px;
  padding: 8px;
}

.output-wrapper {
  padding: 8px;
}
.output-canvas {
  display: block;
  max-width: 100%;
}
