<div class="photo-wrapper">
  <input type="file" accept="image/*" (change)="loadPhoto($event)" />
  <button (click)="takeRectangleFromImg()">Cut the Image</button>
</div>
<div *ngIf="img" class="preview-wrapper" (window:resize)="onResize()">
  <canvas #previewRef class="preview-canvas"></canvas>
  <div
    #boundryRef
    class="preview-boundary"
    [style.left.px]="boundry.x"
    [style.top.px]="boundry.y"
    [style.width.px]="boundry.w"
    [style.height.px]="boundry.h"
  >
    <svg>
      <polygon [attr.points]="getPath()" />
    </svg>
    <div
      class="proxy"
      cdkDrag
      [cdkDragBoundary]="boundryRef"
      (cdkDragStarted)="onDragStarted()"
      (cdkDragMoved)="onDragMoved('all', $event)"
      [style.left.px]="proxy.x"
      [style.top.px]="proxy.y"
      [style.width.px]="proxy.w"
      [style.height.px]="proxy.h"
    ></div>
    <div
      class="top-left circle"
      cdkDrag
      [cdkDragBoundary]="boundryRef"
      (cdkDragStarted)="onDragStarted()"
      (cdkDragMoved)="onDragMoved('a', $event)"
      [style.left.px]="a.x"
      [style.top.px]="a.y"
    ></div>
    <div
      cdkDrag
      [cdkDragBoundary]="boundryRef"
      (cdkDragStarted)="onDragStarted()"
      (cdkDragMoved)="onDragMoved('b', $event)"
      class="top-right circle"
      [style.left.px]="b.x"
      [style.top.px]="b.y"
    ></div>
    <div
      class="bottom-left circle"
      cdkDrag
      [cdkDragBoundary]="boundryRef"
      (cdkDragStarted)="onDragStarted()"
      (cdkDragMoved)="onDragMoved('c', $event)"
      [style.left.px]="c.x"
      [style.top.px]="c.y"
    ></div>
    <div
      class="bottom-right circle"
      cdkDrag
      [cdkDragBoundary]="boundryRef"
      (cdkDragStarted)="onDragStarted()"
      (cdkDragMoved)="onDragMoved('d', $event)"
      [style.left.px]="d.x"
      [style.top.px]="d.y"
    ></div>
  </div>
</div>
<div class="crop-wrapper" #outputRef></div>
