
.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.canvas-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
}

canvas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    object-fit: contain;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.circle {
    transform: translate3d(0, 0, 0)!important; 
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    border-radius: 50%;
    background-color: blue;
}

.proxy {
    position: absolute;
    opacity: 0;
    background: yellow;
    transform: translate3d(0, 0, 0) !important;
}





